@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@500;700;800&family=Lexend:wght@400;500&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --corheader: #da5555;
    --fonte-lexend: 'Lexend', sans-serif;
    --fonte-lexend-mega: 'Lexend Mega', sans-serif;
    --fonte-nunito: 'Nunito', sans-serif;

    --standard-shadow: 5px 5px black;
}

body{
    background-color: #faf5f2;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 1em 4%;
}

header nav img {
    height: 60px;
    width: 90px;
}

header nav div{
    display: flex;
}

header nav div a{
    text-decoration: none;
    color: #000000;
    font-family: var(--font-header);
    font-size: 1em;
    margin-left: 2rem;
}

header nav div a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

main #container-main{
    background: #FAF5F2;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
}

main #description{
    margin: 0 4% 0.5em 4%;
    font-family: var(--fonte-nunito);
    font-size: 1.3em;
}

main #description .title{
    font-family: var(--fonte-lexend-mega);
    color: #000000;
    background: #DDB2FF;
    width: fit-content;
    margin-bottom: 0.5em;
    border: 2px solid black;
    border-radius: 0 0 16px 16px;
    box-shadow: var(--standard-shadow);
    padding: 0.5em 1em;
}

main #container-main .container-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 4% 0.5em 4%;
}

main #container-main .container-cards .card-image{
    width: 350px;
}

main #container-main .container-cards .grade, .horas, .trilhas{
    border: 3px solid black;
    box-shadow: var(--standard-shadow);
}

main .container-cards .card-text{
    text-align: center;
    padding: 3.5% 1.5%;
    font-family: var(--fonte-lexend-mega);
    font-size: 1.2rem;
}

main .container-cards .card-body{
    text-align: center;
    padding: 3.5% 1.5%;
    font-family: var(--fonte-lexend-mega);
    font-size: 1.2rem;
}

main .container-cards .card-body a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

main .container-cards .card-body a:hover{
    text-decoration: underline;
}

main .container-cards .grade{
    background-color: #E5FEFF;
}

main .container-cards .trilhas{
    background-color: #FBE5FF;
}

main .container-cards .horas{
    background-color: #E5FFE5;
}